<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<!--     <script type="text/javascript"
src="//static.twilio.com/libs/twiliojs/1.2/twilio.min.js"></script>
 -->    <title><%= title %></title>
  </head>
  <body>
    <blink><h1>xTuple Move-Your-Car</h1></blink>
    <% for(var i = 0; i < contacts.length; i++) { %>
    <div>
      <p class="id">Id: <%= contacts[i].number %>
      <p class="name">Name: <%= contacts[i].firstName + " " + contacts[i].lastName %>
      <br>
      <label for="phone">Phone:</label>
      <p class="phone"><%= contacts[i].phone %></p>
      <input type="button" value="notify" id="tap">
      <hr>
    </div>
    <% } %>
  </body>
  <script src="js/client.js"></script>
</html>
