p {
  font-family: "'Montserrat', arial, sans-serif"
  font-size: 2em;
  text-align: center;
}
.phone {
  font-size: 3em;
}
.name {
  font-size: 2em;
}
.orange{
  background: orange;
  color: white;
}

.blue{
  background: blue;
  color: white;
}
#title{
  background: #9B59B6;
  font-size: 3em;
  color: white;
  font-family: "'Montserrat', arial, sans-serif"
}
