body {
  background: #f98530;
}
p {
  font-family: "'Montserrat', arial, sans-serif"
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.phone {
  font-size: 3em;
  text-transform: uppercase;
}
.name {
  font-size: 2em;
}
.orange{
  background: #f98530;
  color: white;
}

.blue{
  background: #2bb5e9;
  color: white;
}
#title{
  background: #9B59B6;
  font-size: 3em;
  color: white;
  text-transform: capitalize;
  font-family: "'Montserrat', arial, sans-serif"
}

.click {
  font-size: 3em;
}
.button-secondary {
  margin: 5px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(66, 184, 221); /* this is a light blue */
}
