body {
  background: #f98530;
}
p {
  font-family: "'Montserrat', arial, sans-serif"
  font-size: 2em;
  text-align: center;
}
.phone {
  font-size: 3em;
}
.name {
  font-size: 2em;
}
.orange{
  background: #f98530;
  color: white;
}

.blue{
  background: #2bb5e9;
  color: white;
}
#title{
  background: #9B59B6;
  font-size: 3em;
  color: white;
  font-family: "'Montserrat', arial, sans-serif"
}

.click {
  font-size: 3em;
}
